# Keil 编译生成的中间文件 (必须忽略)
*.o
*.d
*.crf
*.dep
*.axf
*.hex
*.htm
*.lnp
*.sct
*.map
*.lst
*.lib
*.iex
*.build_log.htm
*.bak
*.uvguix.*
*.uvoptx

# 文件夹
MDK-ARM/DebugConfig/
MDK-ARM/RTE/
MDK-ARM/Objects/
MDK-ARM/Listings/
Debug/
.mxproject

# Python 缓存
__pycache__/
*.pyc

# 系统垃圾文件
.DS_Store
Thumbs.db